[Unit]
Description=DNS over TLS stub forwarder
After=syslog.target network-online.target

[Service]
ExecStart=/usr/local/bin/dot-forwarder
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
